<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSdBryTPMU9TXHdQQxdrm4wf8gfEOqRMXBvimepXz1vMtEzYpw/formResponse">
        <input type="text" name="entry.1264752297">
        <input type="text" name="entry.793084933">
        <button type="submit">submit</button>
    </form>
    <a href="https://getbootstrap.com/docs/5.0/forms/validation/">IEEE SPS Recruitment Application</a>
    <img src="" alt="">
</body>
</html>
